*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

span{
    background: url('./heart.svg');
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: bubble 6s infinite;
}

@keyframes bubble {
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }

    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(678deg);
    }
}

